{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-8 text-center mt-4">
    <table class="table table-bordered">
        <tr>
            <th>Genre name</th>
            <th>Movie list</th>
            <th>Menu</th>
        </tr>
        <tr>
            <td> {{ genre.name }} </td>
            <td>
                {% for movie in genre.movies %}
                    {{ movie }}
                    <br>
                {% endfor %}
            </td>
            <td>
                <a class="btn btn-warning" href="{{ path('genre_edit', {'id' : genre.id })}}">
                    EDIT
                </a>
                <a class="btn btn-danger" href="{{ path('genre_delete', {'id' : genre.id })}}">
                    DELETE
                </a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
