{% extends 'base.html.twig' %}

{% block body %}
 <div class="container col-md-8 text-center">
    <img src="https://i-english.vnecdn.net/2021/03/29/aeon-1560740822-6170-156074082-4729-8985-1617008688_680x0.jpg">
 </div>
{% endblock %}
