{% form_theme productForm 'bootstrap_5_layout.html.twig' %}

{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-5 mt-4">
   <h2 class="text text-success"> Add new product </h2>
   {{ form (productForm) }}
</div>
{% endblock %}